@import 'settings';

.event-row {
  border: 1px solid $medium-gray;
  margin-bottom: 20px;

  img {
    border-bottom: 5px solid map-get($foundation-palette, alert);
    width: 100%;
  }
  .info {
    padding: 20px;
  }
  .title {
    font-size: 125%;
    font-weight: bold;
  }
}

.event-details {
  border-bottom: 1px solid $medium-gray;
  position: relative;

  img {
    width: 100%;
  }
  .info {
    padding: 20px;
  }
  .title {
    font-size: 125%;
    font-weight: bold;
  }
}
